<tui-hosted-dropdown
  tuiDropdownAlign="right"
  [content]="dropdown"
  [(open)]="open"
  class="icon"
>
  <fa-icon [icon]="faCogs" size="lg"></fa-icon>
</tui-hosted-dropdown>

<ng-template #dropdown>
  <tui-data-list>
    <button tuiOption>
      <tui-toggle
        style="align-self: center"
        class="tui-space_right-1"
        size="m"
        [formControl]="themeSwitcher"
      ></tui-toggle>
    </button>
    <button *ngFor="let item of items" tuiOption (click)="onClick()">
      {{ item }}
    </button>
  </tui-data-list>
</ng-template>
