@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
  .space {
    padding: 0 0.5rem;
  }
  .room-config {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: var(--tui-radius-l) var(--tui-radius-l) 0 0;
    .back-wrapper {
      display: flex;
      padding: 1rem 0;
      align-items: center;
      .title {
        text-align: center;
        flex: 1 1 auto;
      }
      .back-button {
        background-color: var(--tui-base-05);
      }
    }
    .shadow {
      @include shadow(6);
    }
  }
  ::ng-deep tui-scrollbar .content {
    height: 100%;
  }
  .content {
    overflow: auto;
    height: calc(100% - 40px);
  }
  .device-group {
    padding: var(--tui-radius-m) 0;
    gap: var(--tui-radius-xs);
    width: 100%;
    .device-button_name {
      flex: 1 1 auto;
    }
  }
  .filler {
    height: 50%;
  }
  .button-block {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}
::ng-deep {
  .remove-button {
    display: flex;
    justify-content: right;
    tui-wrapper {
      background: var(--tui-support-06) !important;
      color: var(--tui-text-01-night);
    }
  }
  .device-group {
    button {
      tui-wrapper.wrapper {
        padding: 0 1.25rem !important;
      }
    }
  }
}
