<ng-container *transloco="let _t">
  <ng-container *ngIf="data$ | async as data">
    <div class="widget-ctrl">
      <!-- mutilevel -->
      <div *ngIf="data.probeType === 'multilevel'" class="btn-group">
        <!-- Off -->
        <button
          [ngClass]="data.level! < 1 ? 'btn-primary' : 'btn-default'"
          class="btn btn-off"
          (click)="command('off')"
          title="{{ _t('lb_off') }}"
        >
          <span class="widget-btn-symbol">0</span>
        </button>
        <!-- On -->
        <button
          [ngClass]="data.level! > 0 ? 'btn-primary' : 'btn-default'"
          class="btn btn-on"
          (click)="command('on')"
          title="{{ _t('lb_on') }}"
        >
          <span class="widget-btn-symbol">I</span>
        </button>
        <!--         Max -->
        <button
          class="btn"
          (click)="setLevel(99)"
          [ngClass]="data.level == 99 ? 'btn-primary' : 'btn-default'"
          title="{{ _t('lb_on') }}"
        >
          <i class="fas fa-arrow-up"></i>
        </button>
      </div>
      <!-- blind -->
      <div *ngIf="data.probeType === 'motor'" class="btn-group">
        <button
          [ngClass]="data.level! < 1 ? 'btn-primary' : 'btn-default'"
          class="btn btn-off"
          (click)="command('off')"
          title="{{ _t('lb_down') }}"
        >
          <i class="fas fa-arrow-down"></i>
        </button>
        <button
          [ngClass]="data.level! > 0 ? 'btn-primary' : 'btn-default'"
          class="btn btn btn-on"
          (click)="command('on')"
          title="{{ _t('lb_up') }}"
        >
          <i class="fas fa-arrow-up"></i>
        </button>
        <button
          class="btn btn btn-default"
          (click)="command('stop')"
          title="{{ _t('lb_stop') }}"
        >
          <i class="fas fa-square text-danger"></i>
        </button>
      </div>
    </div>
    <!--    TODO multiLevel controller-->
    <div
      class="widget-data widget-control"
      [routerLink]="['/control', id]"
      style="background-color: green"
      ng-click="dataHolder.devices.find = v;handleModal('switchMultilevelModal', $event)"
      [appAutoFontSize]="
        1 + data.level
          ? data.level.toString().length
          : 0 + data.scaleTitle
          ? data.scaleTitle.toString().length
          : 0
      "
    >
      <i
        class="fas fa-caret-down widget-icon"
        title="{{ _t('lb_settings') }}"
      ></i>
      <span class="widget-level">{{ data.level }}</span>
      <span class="widget-scale">{{ data.scaleTitle }}</span>
    </div>
  </ng-container>
</ng-container>
