<div class="widget" #widget *ngIf="context$ | async as context">
  <tui-avatar
    class="icon"
    [avatarUrl]="context.iconPath"
    size="m"
    [rounded]="true"
  ></tui-avatar>
  <div class="title">
    <tui-line-clamp
      [content]="context.title"
      [lineHeight]="20"
      [linesLimit]="1"
    ></tui-line-clamp>
    <tui-line-clamp
      *ngIf="location$ | async as location"
      class="location"
      [content]="location"
      [lineHeight]="20"
      [linesLimit]="1"
    ></tui-line-clamp>
  </div>
  <div class="metric" [ngSwitch]="context.deviceType">
    <z-wave-multilevel-sensor
      *ngIf="
        ['sensorMultilevel', 'switchMultilevel'].includes(context.deviceType)
      "
      class="tui-text_body-l-2"
      [scale]="context.scale ?? ''"
      [currentValue]="context.level ?? 0"
    ></z-wave-multilevel-sensor>
  </div>
</div>
