@import '~@taiga-ui/core/styles/taiga-ui-local';

:host {
  .widget {
    @include shadow(1);
    background-color: var(--tui-base-01);
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin: 0 0.3rem;
    transform: scale(1);
    transition: transform 0.1s, background 0s 0.5s;
  }
  .icon {
    margin: 0.5rem;
    pointer-events: none;
  }
  .title {
    display: flex;
    flex-direction: column;
    max-width: 180px;
    .location {
      font-size: 0.6rem;
    }
  }
  .dirty {
    transform: scale(0.97);
  }
  @keyframes shake {
    from,
    to,
    25% {
      transform: translateX(5px);
    }
    33% {
      transform: rotate(1deg);
    }
    66% {
      transform: rotate(-1deg);
    }
    75% {
      transform: translate(-5px);
    }
  }
  .shake {
    animation: shake 0.15s linear 2;
  }
}
