<ng-container *transloco="let _t">
  <z-wave-drop-down *ngIf="{ tag: tag$ | async } as data">
    <z-wave-drop-down-head>
      <div class="btn btn-default" [ngClass]="{ active: data.tag }">
        <i class="fa-tags" [ngClass]="!!data.tag ? 'fas' : 'fal'"></i>
        <span class="btn-name" *ngIf="!!data.tag; else all"> {{ data.tag }}</span>
        <ng-template #all>
          <span class="btn-name"> {{ _t('lb_tags') }}</span>
        </ng-template>
      </div>
    </z-wave-drop-down-head>
    <z-wave-drop-down-content #content>
      <div class="device-submenu-wrapper">
        <div class="device-submenu-selector" (click)="addTagFilter(); content.toggle()">{{ _t('all_elements') }}</div>
        <div
          class="device-submenu-selector"
          *ngFor="let tag of tagsList$ | async"
          (click)="addTagFilter(tag); content.toggle()"
          [ngClass]="{ active: tag === data.tag }"
        >
          {{ tag }}
        </div>
      </div>
    </z-wave-drop-down-content>
  </z-wave-drop-down>
</ng-container>
