<div
  *ngIf="{ online: (online$ | async), time: (serverTime$ | async) } as data"
  class="server-status"
>
  <fa-icon
    [icon]="faHome"
    size="lg"
    class="tui-space_right-2"
    *ngIf="locationType() === 'local'"
    [ngStyle]="{
      color: data.online ? 'var(--tui-primary)' : 'var(--tui-error-fill)'
    }"
  >
  </fa-icon>
  <fa-icon
    [icon]="faGlobeEurope"
    *ngIf="locationType() === 'remote'"
    [ngStyle]="{
      color: data.online ? 'var(--tui-primary)' : 'var(--tui-error-fill)'
    }"
  ></fa-icon>
  <span [ngClass]="{ pause: !data.online }">
    {{ data.time | date: 'HH:mm:ss' }}</span
  >
</div>
