<ng-container *transloco="let _t">
  <form
    [formGroup]="loginForm"
    *tuiLet="serverInfo$ | async as serverInfo"
    (ngSubmit)="login()"
  >
    <div class="login-form">
      <div class="tui-col_12">
        <h3 class="tui-form__header">
          <img src="assets/img/logo/logo-removebg.png" alt="" class="logo" />
        </h3>
        <h3 class="tui-form__header">
          {{ _t('welcome_1') }} {{ serverInfo?.remoteId }}
        </h3>
        <div class="tui-form__row">
          <tui-input formControlName="login">
            {{ _t('lb_login') }}
            <span class="tui-required"></span>
          </tui-input>
          <tui-error
            formControlName="login"
            [error]="[] | tuiFieldError | async"
          ></tui-error>
        </div>
        <div class="tui-form__row">
          <tui-input-password formControlName="password">
            {{ _t('lb_password') }}
            <span class="tui-required"></span>
          </tui-input-password>
          <tui-error
            formControlName="password"
            [error]="[] | tuiFieldError | async"
          ></tui-error>
        </div>
        <div class="tui-form__row">
          <tui-notification status="success">
            <span>
              {{ _t('local_ip_address') }}:
              <strong>{{ serverInfo?.ipAddress }}</strong>
            </span>
          </tui-notification>
        </div>
        <div class="tui-form__row">
          <div (click)="expanded = !expanded">
            <tui-notification>
              {{ _t('password_forgot') }}
            </tui-notification>
          </div>
          <tui-expand [expanded]="expanded">
            <ng-template tuiExpandContent>
              <form [formGroup]="restoreForm" (ngSubmit)="restore()">
                <p>{{ _t('password_forgot_info') }}</p>
                <tui-input formControlName="mail">
                  {{ _t('lb_email') }}
                  <span class="tui-required"></span>
                </tui-input>
                <tui-error
                  formControlName="mail"
                  [error]="[] | tuiFieldError | async"
                ></tui-error>
                <div class="tui-form__row">
                  <tui-notification status="warning">
                    {{ _t('works_with_internet') }}
                  </tui-notification>
                </div>
                <div class="tui-form__buttons tui-form__buttons_align_end">
                  <button
                    tuiButton
                    appearance="outline"
                    class="tui-form__button"
                    size="l"
                    (click)="expanded = !expanded"
                  >
                    {{ _t('lb_cancel') }}
                  </button>
                  <button
                    tuiButton
                    size="l"
                    class="tui-form__button"
                    type="submit"
                    [disabled]="restoreForm.invalid"
                  >
                    {{ _t('lb_submit') }}
                  </button>
                </div>
              </form>
            </ng-template>
          </tui-expand>
        </div>
        <div
          class="tui-form__buttons tui-form__buttons_align_end"
          *ngIf="!expanded"
        >
          <button
            tuiButton
            size="l"
            type="submit"
            [showLoader]="loading"
            [disabled]="loginForm.invalid"
          >
            {{ _t('nav_login') }}
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-container>
