<ng-container *transloco="let _t">
  <div
    class="icon"
    (tuiActiveZoneChange)="toggle($event)"
    (click)="toggle(true)"
  >
    <fa-icon [icon]="faCogs" size="lg"></fa-icon>
    <div *tuiSidebar="open; direction: 'left'">
      <tui-island size="m" *ngIf="themeSwitcher">
        <div class="tui-island__content">
          <div class="tui-island__figure">
            <tui-toggle
              style="align-self: center"
              size="m"
              [formControl]="themeSwitcher"
            ></tui-toggle>
          </div>
          <div class="nav-item">
            {{ _t('night_mode') }}
          </div>
        </div>
      </tui-island>
      <tui-accordion [rounded]="false">
        <tui-accordion-item borders="top-bottom">
          Web APIs for Angular
          <ng-template tuiAccordionItemContent>
            <a
              *ngFor="let link of webApis"
              tuiLink
              target="_blank"
              href="https://github.com/ng-web-apis/{{ link }}"
              class="link"
            >
              {{ link }}
            </a>
          </ng-template>
        </tui-accordion-item>
        <tui-accordion-item borders="top-bottom">
          Other libraries
          <ng-template tuiAccordionItemContent>
            <a
              *ngFor="let link of tinkoff"
              tuiLink
              target="_blank"
              href="https://github.com/tinkoff/{{ link }}"
              class="link"
            >
              {{ link }}
            </a>
          </ng-template>
        </tui-accordion-item>
      </tui-accordion>
    </div>
  </div>
</ng-container>
