<div *transloco="let _t" id="header">
  <div id="main_navigation_wrap">
    <div class="container">
      <div class="header-menu">
        <!-- logo -->
        <a
          class="nav-logo nav-item"
          [routerLink]="['dashboard']"
          title="{{ _t('nav_home') }}"
        >
          <img
            alt="App logo"
            id="header_logo"
            src="./assets/img/logo/app-logo-default.png"
          />
        </a>
        <!-- dashboard -->
        <a
          class="nav-home nav-item"
          [routerLink]="['dashboard']"
          routerLinkActive="active"
          title="{{ _t('nav_home') }}"
        >
          <i class="fad fa-home"></i>
        </a>
        <!-- rooms -->
        <a
          class="nav-item"
          *appSecure="'rooms'"
          [routerLink]="['rooms']"
          routerLinkActive="active"
          title="{{ _t('nav_rooms') }}"
        >
          <i class="fad fa-couch"></i>
        </a>
        <!-- elements -->
        <a
          class="nav-item"
          [routerLink]="['elements']"
          routerLinkActive="active"
          title="{{ _t('nav_elements') }}"
        >
          <i class="fas fa-th"></i>
        </a>
        <!-- events -->
        <a
          class="nav-item"
          [routerLink]="['events']"
          routerLinkActive="active"
          title="{{ _t('nav_events') }}"
        >
          <i class="fad fa-clipboard-list"></i>
        </a>
        <!-- automation -->
        <a
          class="nav-item"
          appLabel="soon"
          *appSecure="'automation'"
          [routerLink]="['automations']"
          routerLinkActive="active"
          title="{{ _t('automation') }}"
        >
          <i class="fad fa-cogs"></i>
        </a>
        <!--        <span class="divider-vertical" ng-show="rss.unread > 0"></span>-->
        <!--        <a routerLink="rss" title="{{_t('news')}}" routerLinkActive="active" ng-show="rss.unread > 0">-->
        <!--          <i class="far fa-newspaper"></i>-->
        <!--          <span class="main-nav-text">{{_t('news')}} </span>-->
        <!--&lt;!&ndash;          <small class="s-hide">{{rss.unread}}</small>&ndash;&gt;-->
        <!--        </a>-->
        <span class="timestamp clickable nav-item mobile-hidden">
          <i
            *ngIf="locationType() === 'local'"
            [ngClass]="(online$ | async) ? 'text-success' : 'text-danger'"
            class="fad fa-home"
          ></i>
          <i
            *ngIf="locationType() === 'remote'"
            [ngClass]="(online$ | async) ? 'text-success' : 'text-danger'"
            class="fad fa-globe"
          ></i>
          <span [ngClass]="{ pause: !(online$ | async) }">
            {{ serverTime$ | async | date: 'HH:mm:ss' }}</span
          >
        </span>
        <div class="header-filler"></div>
        <z-wave-drop-down class="nav-item mobile-hidden">
          <z-wave-drop-down-head>
            <span class="navi-settings" title="{{ _t('lb_configuration') }}">
              <i class="fas fa-bars"></i>
            </span>
          </z-wave-drop-down-head>
          <z-wave-drop-down-content>
            <!-- Apps -->
            <div
              class="subnavi"
              routerLinkActive="active"
              *appSecure="'apps'"
              [routerLink]="['apps/instance']"
            >
              <i class="fas fa-cubes fa-fw"></i>
              <span>{{ _t('nav_apps') }}</span>
            </div>
            <!-- Devices -->
            <div
              class="subnavi"
              routerLinkActive="active"
              *appSecure="'devices'"
              [routerLink]="['devices']"
            >
              <i class="fas fa-lightbulb fa-fw"></i>
              <span>{{ _t('nav_devices') }} </span>
            </div>
            <!-- Personal Settings -->
            <div
              *appSecure="'myAccess'"
              class="subnavi"
              routerLinkActive="active"
              routerLink="personal-settings"
            >
              <i class="fas fa-user fa-fw"></i>
              <span>{{ _t('nav_myaccess') }}</span>
            </div>
            <!-- Settings -->
            <div
              class="subnavi"
              routerLinkActive="active"
              *appSecure="'admin'"
              routerLink="admin"
            >
              <i class="fas fa-wrench fa-fw"></i>
              <span>{{ _t('settings') }}</span>
            </div>
            <!-- Rss -->
            <div
              class="subnavi"
              routerLinkActive="active"
              *appSecure="'admin'"
              routerLink="rss"
            >
              <i class="far fa-newspaper fa-fw"></i>
              <span>{{ _t('news') }}</span>
            </div>
            <!-- My Hubs -->
            <!--              <div class="subnavi-myhubs" *ngIf="isAndroid()">-->
            <!--                <a ng-href="cfg.android_html_dir">-->
            <!--                  <i class="fab fa-android fa-fw"></i>-->
            <!--                  <span>{{ _t('my_hubs') }}</span>-->
            <!--                  -->
            <!--                </a>-->
            <!--              </div>-->
            <!--              &lt;!&ndash; My Hubs &ndash;&gt;-->
            <!--              <div class="subnavi-myhubs" *ngIf="isIos()">-->
            <!--                <a ng-href="cfg.ios_html_dir">-->
            <!--                  <i class="fab fa-apple fa-fw"></i>-->
            <!--                  <span>{{ _t('my_hubs') }}</span>-->
            <!--                  -->
            <!--                </a>-->
            <!--              </div>-->
            <!-- Logout -->
            <div
              class="subnavi"
              *ngIf="!isIos() && !isAndroid()"
              (click)="logout()"
            >
              <i class="fas fa-sign-out-alt fa-fw"></i>
              <span>{{ _t('nav_logout') }}</span>
            </div>
          </z-wave-drop-down-content>
        </z-wave-drop-down>
      </div>

      <!--      <div id="navigation_right">-->
      <!---->
      <!--        <a-->
      <!--          (click)="$event.preventDefault(); extendActivate('mainNav')"-->
      <!--          [ngClass]="{ active: (extend$('mainNav') | async) }"-->
      <!--          id="navi_settings"-->
      <!--          title="{{ _t('lb_configuration') }}"-->
      <!--        >-->
      <!--          <i class="fas fa-bars"></i>-->
      <!--        </a>-->
      <!--      </div>-->
    </div>
    <!-- /#navigation -->
  </div>
  <!-- /#main_navigation_wrap -->
  <!--  <div [ngClass]="{ active: (extend$('mainNav') | async) }" id="sub_navigation_wrap">-->
  <!--    <div *ngIf="extend$('mainNav') | async" id="sub_navigation">-->
  <!--      <div (click)="extendActivate('mainNav')" id="sub_navigation_in">-->
  <!--        <div class="container">-->
  <!--          <ul>-->
  <!--            &lt;!&ndash; Apps &ndash;&gt;-->
  <!--            <li class="subnavi-apps" routerLinkActive="active" *appSecure="'apps'">-->
  <!--              <a [routerLink]="['apps/instance']">-->
  <!--                <i class="fas fa-cubes fa-fw"></i>-->
  <!--                <span>{{ _t('nav_apps') }}</span>-->
  <!--                -->
  <!--              </a>-->
  <!--            </li>-->
  <!--            &lt;!&ndash; Devices &ndash;&gt;-->
  <!--            <li class="subnavi-devices" routerLinkActive="active" *appSecure="'devices'">-->
  <!--              <a [routerLink]="['devices']">-->
  <!--                <i class="fas fa-lightbulb fa-fw"></i>-->
  <!--                <span>{{ _t('nav_devices') }} </span>-->
  <!--                -->
  <!--              </a>-->
  <!--            </li>-->
  <!--            &lt;!&ndash; Customize &ndash;&gt;-->
  <!--            <li class="subnavi-report" routerLinkActive="active" *appSecure="'customize'">-->
  <!--              <a [routerLink]="['customize/skinslocal']">-->
  <!--                <i class="fas fa-pencil-alt fa-fw"></i>-->
  <!--                <span>{{ _t('customize') }}</span>-->
  <!--                -->
  <!--              </a>-->
  <!--            </li>-->
  <!--            &lt;!&ndash; My access &ndash;&gt;-->
  <!--            <li *appSecure="'myAccess'" class="subnavi-myaccess" routerLinkActive="active">-->
  <!--              <a [routerLink]="['myaccess']">-->
  <!--                <i class="fas fa-user fa-fw"></i>-->
  <!--                <span>{{ _t('nav_myaccess') }}</span>-->
  <!--                -->
  <!--              </a>-->
  <!--            </li>-->
  <!--            &lt;!&ndash; Settings &ndash;&gt;-->
  <!--            <li class="subnavi-admin" routerLinkActive="active" *appSecure="'admin'">-->
  <!--              <a routerLink="admin">-->
  <!--                <i class="fas fa-wrench fa-fw"></i>-->
  <!--                <span>{{ _t('settings') }}</span>-->
  <!--                -->
  <!--              </a>-->
  <!--            </li>-->
  <!--            &lt;!&ndash; Rss &ndash;&gt;-->
  <!--            <li class="subnavi-admin" routerLinkActive="active" *appSecure="'admin'">-->
  <!--              <a routerLink="rss">-->
  <!--                <i class="far fa-newspaper fa-fw"></i>-->
  <!--                <span>{{ _t('news') }}</span>-->
  <!--                -->
  <!--              </a>-->
  <!--            </li>-->
  <!--            &lt;!&ndash; My Hubs &ndash;&gt;-->
  <!--            <li class="subnavi-myhubs" *ngIf="isAndroid()">-->
  <!--              <a ng-href="cfg.android_html_dir">-->
  <!--                <i class="fab fa-android fa-fw"></i>-->
  <!--                <span>{{ _t('my_hubs') }}</span>-->
  <!--                -->
  <!--              </a>-->
  <!--            </li>-->
  <!--            &lt;!&ndash; My Hubs &ndash;&gt;-->
  <!--            <li class="subnavi-myhubs" *ngIf="isIos()">-->
  <!--              <a ng-href="cfg.ios_html_dir">-->
  <!--                <i class="fab fa-apple fa-fw"></i>-->
  <!--                <span>{{ _t('my_hubs') }}</span>-->
  <!--                -->
  <!--              </a>-->
  <!--            </li>-->
  <!--            &lt;!&ndash; Logout &ndash;&gt;-->
  <!--            <li class="subnavi-logout" *ngIf="!isIos() && !isAndroid()">-->
  <!--              <a (click)="logout()">-->
  <!--                <i class="fas fa-sign-out-alt fa-fw"></i>-->
  <!--                <span>{{ _t('nav_logout') }}</span>-->
  <!--                -->
  <!--              </a>-->
  <!--            </li>-->
  <!--          </ul>-->
  <!--        </div>-->
  <!--      </div>-->
  <!-- /#subnavigation_in -->
  <!--    </div>-->
  <!-- /#subnavigation -->
  <!--  </div>-->
  <!-- /#subnavigation_wrap -->
</div>
