mat-form-field {
  width: 100%;
}

.device-available-block {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  .mat-stroked-button {
    background-color: white;
  }
  .main-sensor {
    border-left: 1px solid grey;
  }
}
.assigned {
  //background: grey;
}
