<ng-container *ngIf="totalRooms$ | async as totalRooms">
  <ng-container *ngIf="totalRooms.length > 1">
    <z-wave-drop-down>
      <z-wave-drop-down-head>
        <ng-content></ng-content>
      </z-wave-drop-down-head>
      <z-wave-drop-down-content orientation="left" class="drop-down-content">
        <div *ngFor="let roomLink of totalRooms$ | async" [routerLink]="['/rooms', roomLink.id]" class="room-select">
          <img [src]="roomLink.imgSrc | async" alt="img" class="navi-img" />
          <div class="title">{{ roomLink.title | async }}</div>
          <div class="item-cnt">({{ roomLink.devicesCount }})</div>
        </div>
      </z-wave-drop-down-content>
    </z-wave-drop-down>
  </ng-container>
</ng-container>
