//.room-select {
//  white-space: nowrap;
//  display: flex;
//  padding: 10px;
//  border-bottom: solid 1px #cccccc;
//  align-items: center;
//  gap: 0.5rem;
//
//  &:hover {
//    background-color: #bfbfbf;
//  }
//
//  .title {
//    flex: 1 1 auto;
//  }
//}
//
//.drop-down-content {
//  min-width: 300px;
//}
::ng-deep {
  tui-wrapper[data-appearance='textfield'] .input {
    padding-top: 0 !important;
  }
}

.template {
  display: flex;
  height: 3rem;
  align-items: center;
  .name {
    white-space: nowrap;
    flex: 1 1 auto;
  }
}
