@import '~@taiga-ui/core/styles/taiga-ui-local';

:host {
  .widget {
    padding: 0.75rem 0 0 0;
    @include shadow(1);
    .title {
      padding: 0 1rem;
      display: flex;
      .room {
        flex: 1 1 auto;
      }
    }
    .background {
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      min-height: 150px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: center;
      gap: 1rem;
    }
  }
  .inactive {
    filter: contrast(0.4);
  }
}
