@import '~@taiga-ui/core/styles/taiga-ui-local';

:host {
  .widget {
    padding: 1rem 0 0 0;
    @include shadow(1);
    .title {
      padding: 0 1rem;
    }
    .background {
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      min-height: 150px;
    }
  }
}
