@import '~@taiga-ui/core/styles/taiga-ui-local';
.footer-menu {
  background-color: var(--tui-base-01);
  a {
    flex: 1 1 auto;
    justify-content: center;
    margin: 0;
  }
  @include shadow(6);
}
