<tui-tabs class="footer-menu">
  <a tuiTab routerLink="/dashboard" routerLinkActive>
    <fa-icon [icon]="faHome"></fa-icon>
  </a>
  <a tuiTab routerLink="rooms" routerLinkActive>
    <fa-icon [icon]="faCouch"></fa-icon>
  </a>
  <a tuiTab routerLink="elements" routerLinkActive>
    <fa-icon [icon]="faTh"></fa-icon>
  </a>
  <a tuiTab routerLink="/events" routerLinkActive>
    <fa-icon [icon]="faClipboardList"></fa-icon>
  </a>
  <a tuiTab routerLink="/automations" routerLinkActive>
    <fa-icon [icon]="faCogs"></fa-icon>
  </a>
</tui-tabs>
