<z-wave-device-list>
  <ng-container *transloco="let _t">
    <ol class="tui-list tui-list_ordered tui-list_nested tui-space_right-2">
      {{
        _t('welcome_no_devices')
      }}
      <li class="tui-list__item">
        <a tuiLink [routerLink]="['/elements']"
          >{{ _t('welcome_step1') }} <i class="fas fa-th"></i
        ></a>
      </li>
      <li class="tui-list__item">
        {{ _t('welcome_step2') }} <i class="fas fa-cog"></i>
      </li>
      <li class="tui-list__item">{{ _t('welcome_step3') }}</li>
    </ol>
    <div
      class="tui-form__buttons tui-form__buttons_align_end"
      [ngStyle]="{ 'flex-direction': 'row' }"
    >
      <button
        tuiButton
        class="tui-form__button tui-space_right-3"
        size="s"
        type="button"
        appearance="secondary"
        [routerLink]="['/elements']"
      >
        {{ _t('continue') }} <i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </ng-container>
</z-wave-device-list>
