<!--<div class="page-control form-inline" *transloco="let _t">-->
<!--  <a class="btn btn-default s-hide" [routerLink]="['new']" *appSecure="'configRooms'">-->
<!--    <i class="fas fa-plus text-success"></i>-->
<!--    <span class="btn-name">{{ _t('lb_add_room') }}</span>-->
<!--  </a>-->
<!--  <div class="input-group input-search s-hide">-->
<!--    &lt;!&ndash;    <input type="text" ng-model="q" class="form-control form-search" value="{{q}}">&ndash;&gt;-->
<!--    <span class="input-group-addon">-->
<!--      <i class="fas fa-search"></i>-->
<!--    </span>-->
<!--  </div>-->
<!--</div>-->
<p>sub menu</p>
