<!-- switchRGBW -->
<ng-container *transloco="let _t">
  <div class="widget-ctrl">
    <div class="btn-group">
      <button
        class="btn btn-off"
        ng-if="getRgbState(v.id)"
        (click)="command('off')"
        ng-class="getRgbState(v.id) == 'off' ? 'btn-primary' : 'btn-default'"
        title="{{ _t('lb_off') }}"
      >
        <span class="widget-btn-symbol">0</span>
      </button>
      <button
        class="btn btn-on"
        ng-if="getRgbState(v.id)"
        ng-class="getRgbState(v.id) == 'w' ? 'btn-primary' : 'btn-default'"
        data-ng-click="runRgbCmd('w', v.id)"
        title="{{ _t('lb_on') }}"
      >
        <span class="widget-btn-symbol">W</span>
      </button>
      <button
        class="btn btn-on"
        ng-if="getRgbState(v.id)"
        ng-class="getRgbState(v.id) == 'rgb' ? 'btn-primary' : 'btn-default'"
        data-ng-click="runRgbCmd('rgb', v.id)"
        title="{{ _t('lb_rgb') }}"
      >
        <span class="widget-btn-symbol">RGB</span>
      </button>
      <button
        class="btn btn-off"
        ng-if="!getRgbState(v.id)"
        ng-class="v.metrics.level == 'off' ? 'btn-primary' : 'btn-default'"
        (click)="command('off')"
        title="{{ _t('lb_off') }}"
      >
        <span class="widget-btn-symbol">0</span>
      </button>
      <button
        class="btn btn-on"
        ng-if="!getRgbState(v.id)"
        ng-class="v.metrics.level == 'on' ? 'btn-primary' : 'btn-default'"
        (click)="command('on')"
        title="{{ _t('lb_on') }}"
      >
        <span class="widget-btn-symbol">I</span>
      </button>
    </div>
  </div>
  <div class="widget-ctrl" ng-click="dataHolder.devices.find = v;handleModal('switchRGBWModal', $event)">
    <span><i class="fas fa-caret-down" title="{{ _t('lb_settings') }}"></i></span>
    <!--  <span class="color-picker-show" style="background-color: {{ v.metrics.color | setRgbColors }};"></span>-->
  </div>
</ng-container>
