<ng-template #loadingScreen>
  <z-wave-load-screen></z-wave-load-screen>
</ng-template>
<ng-container *ngIf="ids$ | async as ids; else loadingScreen">
  <cdk-virtual-scroll-viewport
    class="rooms tui-container_adaptive tui-zero-scrollbar"
    itemSize="200"
    appendOnly
    zWaveRestorePosition
  >
    <z-wave-room-widget
      *cdkVirtualFor="let id of ids; templateCacheSize: 0"
      [id]="id"
    ></z-wave-room-widget>
    <z-wave-add-room-widget *zWaveSecure="'addRoom'"></z-wave-add-room-widget>
    <div class="filler"></div>
  </cdk-virtual-scroll-viewport>
</ng-container>
