<ng-container *ngIf="ids$ | async as ids; else loading">
  <ng-container *ngIf="ids.length; else placeHolder">
    <cdk-virtual-scroll-viewport
      class="device-list tui-zero-scrollbar"
      itemSize="69"
      tuiScrollable
      appendOnly
    >
      <div *cdkVirtualFor="let id of ids; templateCacheSize: 0">
        <z-wave-device-widget [id]="id"></z-wave-device-widget>
      </div>
    </cdk-virtual-scroll-viewport>
  </ng-container>
</ng-container>
<ng-template #loading>
  <z-wave-load-screen></z-wave-load-screen>
</ng-template>
<ng-template #placeHolder>
  <ng-content></ng-content>
</ng-template>
