<z-wave-room-sub-menu></z-wave-room-sub-menu>
<z-wave-device-list></z-wave-device-list>
<!--<ng-container *ngIf="room$ | async as room">-->

<!--</ng-container>-->
<!-- Background image -->
<!--  <div class="full-bg-wrapper"-->
<!--       ng-show="room.show_background && room.id != 0">-->
<!--    <div class="full-bg" ng-style="{'background':'url(' + room.img_src + ')', 'background-position': 'center center', 'background-size': 'cover'}"></div>-->
<!--  </div>-->
<!--  &lt;!&ndash; Header &ndash;&gt;-->
<!--  <app-room-sub-menu></app-room-sub-menu>-->
<!--  <div ng-if="dataHolder.devices.show" ng-include="'app/views/elements/elements_room_bar.html'"></div>-->
<!--  &lt;!&ndash; Title &ndash;&gt;-->
<!--  &lt;!&ndash;<h1>-->
<!--      <small><a class="btn btn-default btn-sm" href="#rooms"><i class="fas fa-chevron-left"></i></a></small>-->
<!--      {{_t('lb_devices_room')}} {{dataHolder.devices.rooms[dataHolder.devices.filter.location].title}}-->
<!--  </h1>&ndash;&gt;-->
<!--  &lt;!&ndash; Alert &ndash;&gt;-->
<!--  <div ng-if="!dataHolder.devices.show" ng-include="'app/views/elements/no_elements_room.html'"></div>-->
<!--  &lt;!&ndash; Default mode &ndash;&gt;-->
<!--  <div ng-include="'app/views/elements/list_mode_default.html'" ng-if="dataHolder.mode === 'default'"></div>-->
<!--  &lt;!&ndash; Edit mode &ndash;&gt;-->
<!--  <div ng-include="'app/views/elements/list_mode_edit.html'" ng-if="dataHolder.mode === 'edit'"></div>-->
<!-- /ng-controller -->
