<z-wave-base-widget-mobile *ngIf="isMobile; else baseWidget" #mobileWidget></z-wave-base-widget-mobile>
<ng-template #baseWidget>
  <z-wave-base-widget [id]="id" class="device-widget">
    <ng-container [ngSwitch]="deviceType$ | async">
      <z-wave-switch-binary-widget *ngSwitchCase="'switchBinary'" [id]="id"></z-wave-switch-binary-widget>
      <z-wave-switch-multilevel-widget *ngSwitchCase="'switchMultilevel'" [id]="id"></z-wave-switch-multilevel-widget>
      <z-wave-sensor-multilevel-widget *ngSwitchCase="'sensorMultilevel'" [id]="id"></z-wave-sensor-multilevel-widget>
      <!--      <app-switch-rgbw *ngSwitchCase="'switchRGBW'"></app-switch-rgbw>-->
      <z-wave-default-widget *ngSwitchDefault [id]="id">{{ deviceType$ | async }}</z-wave-default-widget>
    </ng-container>
  </z-wave-base-widget>
</ng-template>
