<ng-container *transloco="let _t">
  <z-wave-drop-down>
    <z-wave-drop-down-head>
      <label
        [title]="_t('lb_search')"
        class="btn btn-default btn-element-sub-menu"
      >
        <input
          [placeholder]="_t('lb_search')"
          [value]="inputValue$ | async"
          #input
          type="text"
          (keyup)="updateFilter(input.value)"
          (keydown.enter)="updateFilter(input.value, true)"
        />
        <i
          class="fas fa-search search"
          (click)="updateFilter(input.value, true)"
        ></i>
      </label>
    </z-wave-drop-down-head>
    <z-wave-drop-down-content>
      <z-wave-autocomplete-widget
        *ngFor="let device of autocomplete$ | async"
        [id]="device"
        [routerLink]="['/elements', device]"
      ></z-wave-autocomplete-widget>
    </z-wave-drop-down-content>
  </z-wave-drop-down>
</ng-container>
