:host-context {
  .drop-down-head.active + .drop-down-content {
    padding: 0;
  }
  label {
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    input {
      border: none;
      padding: 6px 4px;

      &:placeholder-shown {
        font-style: italic;
      }

      &:focus {
        outline: none;

        & + i {
          color: green;
        }
      }
    }
  }
  .search {
    padding: 6px 8px;
  }

  .btn {
    padding: 0;
  }
}
