<!--<div *ngIf="info$ | async as info" class="elements-room-bar">-->
<!--  &lt;!&ndash; Bar row &ndash;&gt;-->
<!--  <div class="bar-row">-->
<!--    &lt;!&ndash; Bar col &ndash;&gt;-->
<!--    <div class="bar-row-img">-->
<!--      <img [src]="info.imgSrc" alt="" />-->
<!--    </div>-->
<!-- Bar col -->
<z-wave-room-select (changeRoom)="changeRoom($event)" [excludeZero]="true">
</z-wave-room-select>
<!--    <div class="filler"></div>-->
<!--    &lt;!&ndash;    <z-wave-room-widget-sensor&ndash;&gt;-->
<!--    &lt;!&ndash;      *ngFor="let sensor of info.mainSensors"&ndash;&gt;-->
<!--    &lt;!&ndash;      [id]="sensor"&ndash;&gt;-->
<!--    &lt;!&ndash;    ></z-wave-room-widget-sensor>&ndash;&gt;-->
<!--    <ng-container *transloco="let _t">-->
<!--      <ng-container *ngIf="id">-->
<!--        <a-->
<!--          *appSecure="'configRooms'"-->
<!--          [routerLink]="['../config', id]"-->
<!--          class="btn btn-default"-->
<!--          title="{{ _t('lb_update') }}"-->
<!--        >-->
<!--          <i class="fas fa-cog"></i>-->
<!--        </a>-->
<!--      </ng-container>-->
<!--    </ng-container>-->
<!--  </div>-->
<!--</div>-->
