<z-wave-expand-settings></z-wave-expand-settings>
<div class="tui-container_adaptive sittings" *transloco="let t">
  <form [formGroup]="form">
    <tui-input
      class="tui-space_right-2 tui-space_left-2"
      formControlName="title"
      >{{ t('device_name') }}<span class="tui-required"></span>
    </tui-input>
    <tui-field-error formControlName="title"></tui-field-error>
    <z-wave-device-commutation mode="referenced"></z-wave-device-commutation>
    <z-wave-device-commutation mode="generated"></z-wave-device-commutation>
    <div class="tui-form__row">
      <tui-toggle
        class="tui-space_left-2"
        formControlName="hidden"
        size="l"
        [showIcons]="true"
      ></tui-toggle>
      {{ t('hide_element') }}
    </div>
    <tui-notification>{{ t('hide_element_info') }}</tui-notification>
    <div class="tui-form__row">
      <tui-toggle
        class="tui-space_left-2"
        formControlName="dashboard"
        size="l"
        [showIcons]="true"
      ></tui-toggle>
      {{ t('lb_add_dashboard') }}
    </div>
    <div class="tui-form__multi-field">
      <tui-toggle
        class="tui-space_left-2"
        formControlName="hideEvents"
        size="l"
        [showIcons]="true"
      ></tui-toggle>
      {{ t('lb_hide_events_device') }}
    </div>
    <div class="tui-form__row">
      {{ t('lb_assign_room') }}:
      <tui-select
        formControlName="location"
        [valueContent]="locateContent"
        class="tui-space_vertical-5"
        [tuiTextfieldLabelOutside]="true"
      >
        <tui-data-list-wrapper
          *tuiDataList
          [items]="context.locations"
          [itemContent]="locateContent"
        ></tui-data-list-wrapper>
      </tui-select>
      <ng-template #locateContent let-item>
        <div class="item">
          <tui-avatar
            [avatarUrl]="item.url ?? null"
            [rounded]="true"
            class="tui-space_right-4"
          ></tui-avatar>
          <span class="tui-text_h6"> {{ item.name }} </span>
        </div>
      </ng-template>
    </div>
    <div class="tui-form__row">
      <tui-input-tag
        class="b-form"
        [tuiTextfieldLabelOutside]="true"
        formControlName="tags"
      >
        {{ t('lb_tags') }}
      </tui-input-tag>
    </div>
    <div class="tui-form__buttons tui-form__buttons_align_end">
      <button
        tuiButton
        class="tui-form__button tui-space_right-3"
        size="s"
        type="button"
        appearance="secondary"
      >
        Cancel
      </button>
      <button
        tuiButton
        type="submit"
        class="tui-form__button tui-space_right-4"
        size="s"
      >
        Submit
      </button>
    </div>
  </form>
</div>
<pre>
  {{ context | json }}
</pre>
