.btn-group-block {
  .btn:not(:last-child):not(:first-child) {
    border-radius: 0;
  }
  .btn:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .btn:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}
