<ng-container *transloco="let _t">
  <div *ngIf="data$ | async as data" class="header-widget">
    <!-- Events -->
    <div
      class="header-widget-icon"
      ng-click="dataHolder.devices.find = v;handleModal('modalEvent', $event)"
      *ngIf="data.showNotification"
      title="{{ _t('nav_events') }}"
    >
      <i class="far fa-clipboard-list"></i>
    </div>
    <!-- Is hidden -->
    <div
      class="header-widget-icon"
      ng-click="setVisibility(v,true)"
      *ngIf="!data.visibility"
    >
      <i class="far fa-low-vision"></i>
    </div>
    <!-- Intchart -->
    <div
      class="header-widget-icon"
      ng-click="dataHolder.devices.find = v;handleModal('modalIntchart', $event)"
      *ngIf="data.intChartUrl"
      title="{{ _t('chart') }}"
    >
      <i class="far fa-chart-line"></i>
    </div>
    <!-- History -->
    <div
      class="header-widget-icon"
      ng-click="dataHolder.devices.find = v;handleModal('modalHistory', $event)"
      *ngIf="data.hasHistory"
      title="{{ _t('history') }}"
    >
      <i class="far fa-history"></i>
    </div>
    <!-- Settings -->
    <div
      class="header-widget-icon"
      *appSecure="'element'"
      [routerLink]="['/element', id]"
      title="{{ _t('lb_cfg_view') }}"
    >
      <i class="far fa-cog"></i>
    </div>
  </div>
</ng-container>
