.element-control {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 99%;
  border-radius: var(--tui-radius-l) var(--tui-radius-l) 0 0;
  .back-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
    .name {
      flex: 1 1 auto;
      display: flex;
      max-width: 90%;
      .title {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 80%;
      }
      .location {
        font: var(--tui-font-text-s);
      }
    }
    .back-button {
      background-color: var(--tui-base-05);
    }
  }
  ::ng-deep tui-scrollbar .t-content {
    height: 100%;
  }
  .content {
    overflow: auto;
    height: calc(100% - 40px);
  }
}
::ng-deep {
  .tui-form__buttons {
    flex-direction: row;
  }
  .sittings {
    min-height: 100%;
  }
}
