<div *transloco="let _t">
  <pre>
<!--    {{data$ | async | json}}-->
    {{form?.value | json}}
  </pre>
  <div *ngIf="data$ | async as data; else notFound">
    <h2>
      <span>{{ _t('lb_room') }}</span
      >:
      <span>(#{{ data.id }}) </span>
      <span>{{ form?.value.title }}</span>
    </h2>
    <form
      [formGroup]="form"
      *ngIf="form"
      class="form form-page"
      (submit)="submit()"
      novalidate
    >
      <!-- Form  -->
      <fieldset>
        <mat-form-field>
          <mat-label>{{ _t('lb_name') }}:</mat-label>
          <input
            matInput
            type="text"
            placeholder="{{ _t('lb_room_name') }}"
            formControlName="title"
          />
          <mat-error *ngIf="form.hasError('required', 'title')">{{
            _t('field_required')
          }}</mat-error>
        </mat-form-field>
        <!-- image select -->
        <div>
          <h3>
            <span>{{ _t('lb_select_image') }}</span>
          </h3>
          <div class="clearfix">
            <div class="form-group">
              <mat-grid-list cols="5" rowHeight="1:1">
                <img
                  *ngFor="let image of imageList"
                  [src]="image"
                  [alt]="image"
                  class="room-img-upload form-control-img"
                  [ngClass]="{
                    'control-active': image === form.get('img')?.value
                  }"
                  (click)="setImage(image)"
                />
              </mat-grid-list>
            </div>
            <div class="form-group" *ngIf="form.get('customImage')?.value">
              <button
                type="button"
                mat-flat-button
                color="warn"
                title="{{ _t('image_delete_info') }}"
                (click)="updateImageList()"
              >
                <i class="fas fa-times"></i> {{ _t('image_delete_info') }}
              </button>
            </div>
          </div>
          <mat-checkbox
            color="primary"
            *ngIf="form.get('img')?.value"
            formControlName="setAsBackground"
          >
            {{ _t('selected_image_background') }}</mat-checkbox
          >
        </div>
        <!-- image upload -->
        <div class="mobile-hide form-group">
          <input
            type="file"
            [hidden]="true"
            #upload
            formControlName="customImage"
            (change)="updateImageList($event.target)"
          />
          <button
            type="button"
            mat-stroked-button
            [title]="_t('lb_upload_image')"
            (click)="upload.click()"
            [disabled]="!!form.get('customImage')?.value"
          >
            <i class="fas fa-upload text-success"></i>
            {{ _t('lb_upload_image') }}
          </button>
          <div *ngIf="form.get('customImage')?.value">
            {{ form.get('customImage')?.value | fileName: 30 }}
          </div>
          <z-wave-help-text *ngIf="form.get('customImage')?.value">
            {{ _t('upload_file_info_disabled') }}
          </z-wave-help-text>
          <z-wave-help-text>
            {{
              _t('upload_file_info', {
                __size__: config.maxSize,
                __extensions__: config.extension
              })
            }}
          </z-wave-help-text>
          <z-wave-help-text>
            {{
              _t('image_recommended_dimension', {
                __dimension__: config.dimension
              })
            }}
          </z-wave-help-text>
        </div>
        <!-- Delete Room -->
        <div class="form-group">
          <button
            type="button"
            mat-flat-button
            color="warn"
            title="{{ _t('delete_room') }}"
            (click)="deleteRoom()"
          >
            <i class="fas fa-times"></i> {{ _t('delete_room') }}
          </button>
        </div>
      </fieldset>
      <!-- Assigned devices  -->
      <fieldset>
        <legend>{{ _t('lb_devices_in_room') }}</legend>
        <z-wave-help-text>
          {{ _t('room_main_sensors', { __cnt__: data.main_sensors.length }) }}
          <button type="button" mat-stroked-button (click)="clearSensors()">
            <i class="fas fa-sync"></i> {{ _t('clear_sensors') }}
          </button>
        </z-wave-help-text>
        <div class="device-available-block assigned">
          <div
            *ngFor="let device of assignedDevices$ | async"
            class="mat-stroked-button"
          >
            <button type="button" mat-button (click)="removeDevice()">
              {{ device }}
              <i class="fas fa-times text-danger" [title]="_t('lb_remove')"></i>
            </button>
            <mat-checkbox
              color="primary"
              *ngIf="true"
              labelPosition="before"
              class="main-sensor"
            ></mat-checkbox>
          </div>
        </div>
      </fieldset>
      <!-- Available devices  -->
      <fieldset>
        <legend>{{ _t('lb_available_devices') }}</legend>
        <div class="device-available-block assigned">
          <button
            type="button"
            mat-stroked-button
            *ngFor="let device of availedDevices$ | async"
            (click)="addDevice()"
          >
            {{ device }}
            <i class="fas fa-plus text-success" [title]="_t('add_new')"></i>
          </button>
        </div>
      </fieldset>
      <fieldset class="end">
        <!-- Cancel -->
        <button
          type="button"
          mat-raised-button
          [title]="_t('lb_cancel')"
          appBackButton
        >
          <i class="fas fa-reply"></i>
          <span class="btn-name"> {{ _t('lb_cancel') }}</span>
        </button>
        <!-- Save -->
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [title]="_t('lb_save')"
          [disabled]="form.invalid"
        >
          <i class="fas fa-check"></i>
          <span class="btn-name"> {{ _t('lb_save') }}</span>
        </button>
      </fieldset>
    </form>
  </div>
  <ng-template #notFound>
    Room not found
    <!--    TODO add something better-->
  </ng-template>
</div>
