.bar-row {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  &-img {
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 50%;
  }
  ::ng-deep .sensor-preview-img {
    height: 32px;
  }
  &-title {
    font-size: 1.4rem;
  }
}
