<ng-container *transloco="let _t">
  <ng-container
    *ngIf="{ room: (room$ | async), devices: (devices$ | async) } as data"
  >
    <tui-island
      tuiTouchable="transform"
      tuiRipple="radial-gradient(circle, #5c0067 0%, #00d4ff 100%)"
      class="widget"
      *ngIf="data.room?.id || data.devices?.length"
      [ngClass]="{ inactive: !data.devices }"
    >
      <div class="tui-island__title title">
        <span
          class="tui-space_right-1"
          style="color: var(--tui-text-02)"
          *ngIf="data.devices"
          >[{{ data.devices ? data.devices.length : 0 }}]</span
        ><span class="room">{{ data.room?.title }}</span>
        <fa-icon [icon]="faSort" class="tui-space_left-5"></fa-icon>
      </div>
      <div
        class="background"
        [ngStyle]="{ 'background-image': 'url(' + data.room?.imgSrc + ')' }"
      >
        <z-wave-main-sensor-widget
          *ngFor="let id of data.room?.main_sensors; trackBy: trackIndex"
          [id]="id"
        ></z-wave-main-sensor-widget>
      </div>
    </tui-island>
  </ng-container>
</ng-container>
