<ng-container [ngSwitch]="type">
  <z-wave-main-sensor
    *ngSwitchCase="'switchBinary'"
    [currentValue]="metrics.level === 'on' ? 100 : 50"
    mode="binary"
    (value)="binaryUpdate($event)"
  ></z-wave-main-sensor>
  <z-wave-main-sensor
    *ngSwitchCase="'sensorBinary'"
    [currentValue]="metrics.level === 'on' ? 100 : 50"
    [disabled]="true"
    mode="binary"
  ></z-wave-main-sensor>
  <z-wave-main-sensor
    *ngSwitchCase="'switchMultilevel'"
    [currentValue]="+metrics.level * 1.01"
    mode="multi"
    (value)="multilevelUpdate($event)"
  ></z-wave-main-sensor>
  <z-wave-multilevel-sensor
    class="tui-text_h2"
    *ngSwitchCase="'sensorMultilevel'"
    [scale]="metrics.scaleTitle"
    [currentValue]="metrics.level"
  ></z-wave-multilevel-sensor>
</ng-container>
