@use "./variables" as v;
@use "./mixins" as mixin;
/* Body
-------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Body reset
-------------------------------------------------- */
html {
  font-size: v.$app-body-font-size;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;

  @include mixin.mediaQueries(max-small) {
    -webkit-user-select: none; /* Disable text selection (for Webkit) */
    user-select: none; /* Disable text selection (standard syntax) */
    -moz-user-select: none; /* Disable text selection (standard syntax) */
    -ms-user-select: none; /* Disable text selection (standard syntax) */
  }
}

body {
  font-family: v.$app-font-family-sans-serif;
  font-size: v.$app-body-font-size;
  line-height: v.$app-line-height-base;
  color: v.$app-body-color;
  background-color: v.$app-bcg-color;
  // Media queries
  @include mixin.mediaQueries(min-small) {
    font-size: v.$app-body-font-size - 2px;
  }
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 -------------------------------------------------- */
//[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
//  display: none !important;
//}

/* Skin reset
-------------------------------------------------- */
//.skinreset {
//  display: none;
//
//}

/* Typo
-------------------------------------------------- */
h1,
h2,
h3,
h4 {
  margin-top: 0;
  color: v.$app-heading-color;
}

h1 {
  font-size: 130%;
}

h2 {
  font-size: 120%;
  margin: v.$spacing 0 v.$spacing-half 0;
}

h3 {
  font-size: 115%;
}

h4 {
  font-size: 110%;
}

.item-cnt {
  font-size: 80%;
}

.subhead-info {
  display: block;
  font-size: 90%;
}

.small {
  font-size: 90%;
  color: lighten(v.$app-body-color, 40%);
}

/* Colors
-------------------------------------------------- */
.color-orange {
  color: orange;
}

.color-green {
  color: green;
}

.color-red {
  color: red;
}

/* Links
-------------------------------------------------- */
a {
  color: v.$app-a-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: v.$app-a-hover-color;
    text-decoration: underline;
  }

  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  &.link-dotted {
    color: v.$app-a-color;
    border-bottom: 1px dotted v.$app-a-color;

    &:hover,
    &:focus {
      border-bottom: 1px solid v.$app-a-hover-color;
      text-decoration: none;
    }
  }

  &.link-underline {
    color: v.$app-a-color;
    text-decoration: underline;
  }
}

/* Fatal error
-------------------------------------------------- */
.app-fatal-error {
  @include mixin.appBorderRadius(v.$app-border-radius);
  padding: v.$spacing-fatal-error;
  margin: 0 0 v.$spacing-double 0;
  //background: $app-error-background-color $img-fatal-error no-repeat $spacing ($spacing + $spacing-half);
  background-color: #ffffff;
  border: solid 1px v.$app-brand-danger;
  .fatal-error-message {
    color: v.$app-brand-danger;
    font-weight: bold;
    font-size: 120%;
  }
  .fatal-error-info {
    margin: v.$spacing 0 0 0;
    color: #000000;
    font-size: 105%;
  }
}

/* Gird
-------------------------------------------------- */
/* Style */
#main_content {
  margin-top: v.$header-h + v.$spacing;
  margin-bottom: 50px + v.$spacing;
  padding: 0 5px;
}

.container {
  width: 100%;
  max-width: v.$site-max-w;
}

.row {
  padding-right: 0;
  margin-right: 0;
}

.mobile-padding {
  padding: 0 v.$grid-gutter;
  .page-header {
    padding: 0;
  }
}

.block {
  //width: 100%;
  margin: v.$spacing;
}

.block-50 {
  width: 100%;
  // Media queries
  @include mixin.mediaQueries(min-small) {
    @include mixin.appFloat(left);
    width: 50%;
  }
}
/* Images
-------------------------------------------------- */
img {
  vertical-align: middle;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}
.img-circle {
  border-radius: 50%;
}
.img-opacity-50 {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/* Others
-------------------------------------------------- */
.section {
  margin-top: v.$spacing;
}
.timestamp {
  color: lighten(v.$app-color-primary, 20%);
  font-size: 17px;
  // Media queries
  @include mixin.mediaQueries(min-small) {
    font-size: 90%;
  }
  .fa {
    font-size: 110%;
    // Media queries
    @include mixin.mediaQueries(min-small) {
      font-size: 90%;
    }
  }
}

.bcg-success {
  background-color: v.$app-bcg-success;
}

.bcg-active.false,
.bcg-danger {
  background-color: v.$app-bcg-danger !important;
}

.clickable {
  cursor: pointer;
}

.btn-static {
  background-color: #ffffff;
  border: 1px solid lightgrey;
  cursor: default;
  //&:active, &:hover, &:focus {
  //  @include box-shadow(none);
  //}
}

.text-supp {
  font-style: italic;
  color: lighten(v.$app-body-color, 30%);
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}

.badge {
  padding: v.$spacing-half;
  margin-right: v.$spacing-half;
}

.help-text {
  display: block;
  font-size: 95%;
  font-style: italic;
  margin: v.$spacing-half 0;
  padding-right: v.$spacing-half;
}

.inline .help-text {
  display: inline;
}

.display-block {
  display: block;
}

.badge-number {
  background-color: lighten(v.$app-body-color, 60%);
  color: #ffffff;
  display: inline-block;
  text-align: center;
  line-height: 32px - ((32px/2) / 2);
  width: 32px;
  height: 32px;
  font-size: 120%;
  border-radius: 50%;
}

.icon-hidden {
  visibility: hidden;
}
//.device-available-block {
//  &.assigned {
//    padding: v.$spacing v.$spacing v.$spacing-half v.$spacing;
//    border: solid 1px v.$app-border-color;
//    margin: 0 0 v.$spacing 0;
//  }
//}
// Scroll horizontal
.scrollh {
  overflow-y: auto;
  white-space: nowrap;
}
