<!--<ng-template *transloco let-_t>-->
<!--  <div-->
<!--    class="widget-entry widget-entry-element isfailed-{{v.metrics.isFailed}} {{v.deviceType}} probe-type-{{v.probeType}} {{v.metrics.multilineType}} longpress-{{longPressSent}}"-->
<!--    long-press-mobile="{{deviceDetector.isMobile()}}"-->
<!--    ng-class="{'widget-success': v.isNew}"-->
<!--    ng-repeat="v in dataHolder.devices.collection | orderBy: cfg.orderby.elements[dataHolder.devices.orderBy] track by v.id"-->
<!--    on-long-press="itemOnLongPress(v.id)"-->
<!--    on-touch-end="itemOnTouchEnd()"-->
<!--    prevent-click="true">-->
<ng-container *ngIf="data$ | async as data">
  <!-- ng-repeat="v in dataHolder.devices.collection track by v.id">-->
  <div class="base-widget" [ngClass]="{ 'in-progress': data.inProgress }">
    <!--    <span class="widget-loader"></span>-->
    <div class="widget-img">
      <img alt="img" class="widget-preview-img widget-icon-update img-circle" [src]="data.iconPath" />
    </div>
    <!-- Widget header -->
    <z-wave-widget-header [id]="id"></z-wave-widget-header>
    <!-- Widget content -->
    <!--order.{{getBodyId()}}: {{v.order[getBodyId()]}}-->
    <!-- Widget title -->
    <div class="widget-room">
      {{ location$ | async }}
    </div>
    <div class="widget-title">
      <span [title]="data.title">{{ data.title }}</span>
    </div>
    <!--    <hr class="bottom-aligner" />-->
    <!-- Widget footer -->
    <div class="widget-content">
      <ng-content></ng-content>
    </div>
  </div>
</ng-container>
<!--</ng-template>-->
